<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,110},{50,46}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{50,46}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,46}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{78,46}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,50},{70,52}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{70,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,46}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{78,46}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,154},{56,48}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{56,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{58,48}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{56,52}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,104},{58,48}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,164},{56,48}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{56,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{58,48}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{56,52}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{56,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,60},{58,48}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{58,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{50,64}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,54}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{70,56}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{70,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>bat_u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,54}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9353391f66b3fab26064f50c383f334:1/1$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
