<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skull_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{46,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{46,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,190},{46,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,270},{46,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{46,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,253},{46,50}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{46,50}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,443},{46,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,28},{46,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{54,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{54,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,234},{52,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,3},{52,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{52,80}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{52,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{54,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{54,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,234},{56,42}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,61},{56,42}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,90},{94,74}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{94,74}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,106}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{130,106}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{98,86}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{98,86}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{70,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{70,66}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,145},{80,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{80,76}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_o7.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,396},{36,38}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{36,38}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>skull_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,334},{54,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{54,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,184},{52,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{52,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,180},{52,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{52,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{52,78}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{52,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,334},{54,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{54,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,288},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{65,63}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{65,73}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,20},{65,73}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,99},{89,83}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{89,83}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{79,99}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{79,99}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{103,95}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{103,95}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,227},{81,77}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{81,77}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,166},{93,85}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{93,85}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,83},{97,95}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{97,95}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,70},{73,69}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{73,69}}</string>
                <key>sourceSize</key>
                <string>{123,123}</string>
            </dict>
            <key>skull_u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{46,54}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,29},{46,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,238},{46,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,3},{46,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,110},{46,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{46,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,286},{46,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{46,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>skull_u5.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,348},{46,50}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,33},{46,50}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skull.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a9cac50ed67e698c5f2d58d48174da5:1/1$</string>
            <key>textureFileName</key>
            <string>skull.png</string>
        </dict>
    </dict>
</plist>
