<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_l1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,196},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_l2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,190},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_l3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,184},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_l4.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,180},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_l5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,196},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{70,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{70,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,124},{80,52}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{80,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o11.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,58}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,62}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,64},{66,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{66,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,74},{64,80}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{64,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,236},{60,74}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{60,74}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,246},{60,68}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{60,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,304},{60,60}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{60,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{60,48}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{60,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,294},{60,36}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{60,36}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_o9.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,252},{68,44}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{68,44}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_r1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,124},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_r2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_r3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,178},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_r4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,140},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_r5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,124},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,236},{14,12}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,41},{14,12}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,354},{46,48}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{46,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,298},{64,54}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{64,54}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,308},{52,46}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{52,46}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,240},{74,52}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{74,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,132},{78,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{78,56}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,234},{76,68}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{76,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{74,72}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,62},{60,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_u1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,124},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_u2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,64},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_u3.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,64},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_u4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_u5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,124},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60942111618a3936c8fafd0d6b90f1d:1/1$</string>
            <key>textureFileName</key>
            <string>zombie.png</string>
        </dict>
    </dict>
</plist>
